Webservices/UDMHealthSystem/src/main/webapp/WEB-INF/wsdl/wcs.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.budco.com/WCSWebServices" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.budco.com/WCSWebServices" targetNamespace="http://www.budco.com/WCSWebServices">
  <wsdl:types xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.budco.com/WCSWebServices" elementFormDefault="qualified" targetNamespace="http://www.budco.com/WCSWebServices" xmlns:tns="http://www.budco.com/WCSWebServices">

	<xsd:complexType name="responseHeaderType" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:sequence xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:element name="statusCode" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
				<xsd:simpleType xmlns:xsd="http://www.w3.org/2001/XMLSchema">
					<xsd:restriction base="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
						<xsd:maxLength value="10" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="messageList" type="tns:message" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="message" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:sequence xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:element maxOccurs="unbounded" name="message" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="getHcpDirectMailTargetCountResponse" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:complexType xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:sequence xmlns:xsd="http://www.w3.org/2001/XMLSchema">
				<xsd:element name="responseHeader" nillable="false" type="tns:responseHeaderType" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
				<xsd:element minOccurs="1" name="dmCount" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
					<xsd:simpleType xmlns:xsd="http://www.w3.org/2001/XMLSchema">
						<xsd:restriction base="xsd:integer" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
							<xsd:totalDigits value="10" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>


	<xsd:complexType name="decileList" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:sequence xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:element maxOccurs="unbounded" name="decileNumber" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="getHcpDirectMailTargetCountRequest" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:complexType xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:sequence xmlns:xsd="http://www.w3.org/2001/XMLSchema">
				<xsd:element name="brand" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
				<xsd:element name="source" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
				<xsd:element name="decileList" type="tns:decileList" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="getSourceListRequest" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:complexType xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:sequence xmlns:xsd="http://www.w3.org/2001/XMLSchema">
				<xsd:element name="brand" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="sourceType" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:sequence xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:element name="sourceCode" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
			<xsd:element name="sourceDescription" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="sourceList" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:sequence xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:element maxOccurs="unbounded" name="source" type="tns:sourceType" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
		</xsd:sequence>
	</xsd:complexType>


		<xsd:element name="getSourceListResponse" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:complexType xmlns:xsd="http://www.w3.org/2001/XMLSchema">
				<xsd:sequence xmlns:xsd="http://www.w3.org/2001/XMLSchema">
					<xsd:element name="responseHeader" nillable="false" type="tns:responseHeaderType" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
					<xsd:element name="sourceList" type="tns:sourceList" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>



</xsd:schema>
  </wsdl:types>
  <wsdl:message name="getSourceListRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:getSourceListRequest" name="getSourceListRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getHcpDirectMailTargetCountResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:getHcpDirectMailTargetCountResponse" name="getHcpDirectMailTargetCountResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSourceListResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:getSourceListResponse" name="getSourceListResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getHcpDirectMailTargetCountRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="tns:getHcpDirectMailTargetCountRequest" name="getHcpDirectMailTargetCountRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="GetHcpDirectMailTargetCountRequestPort" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:operation name="getSourceList" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <wsdl:input message="tns:getSourceListRequest" name="getSourceListRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:input>
      <wsdl:output message="tns:getSourceListResponse" name="getSourceListResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHcpDirectMailTargetCount" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <wsdl:input message="tns:getHcpDirectMailTargetCountRequest" name="getHcpDirectMailTargetCountRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:input>
      <wsdl:output message="tns:getHcpDirectMailTargetCountResponse" name="getHcpDirectMailTargetCountResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetHcpDirectMailTargetCountRequestPortSoap11" type="tns:GetHcpDirectMailTargetCountRequestPort" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
    <wsdl:operation name="getSourceList" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <soap:operation soapAction="http://www.budco.com/GetSourceList" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <wsdl:input name="getSourceListRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:input>
      <wsdl:output name="getSourceListResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHcpDirectMailTargetCount" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <soap:operation soapAction="http://www.budco.com/GetDirectMailTargetCount" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <wsdl:input name="getHcpDirectMailTargetCountRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:input>
      <wsdl:output name="getHcpDirectMailTargetCountResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetHcpDirectMailTargetCountRequestPortService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:port binding="tns:GetHcpDirectMailTargetCountRequestPortSoap11" name="GetHcpDirectMailTargetCountRequestPortSoap11" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <soap:address location="http://localhost:8080/ws" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>